<article class="card blog-card">
  <div class="card-body">
    <h3 class="card-title"><a title="{{ .Title }}">{{ .Title }}</a>
    </h3>
    <p>{{ .Params.subtitle }} </p>
  </div>
  <a title="{{ .Title }}" href="{{ .Params.article_url }}" >
    {{ if .Params.image }}
    {{ with .Params.image }}
    {{ if fileExists (add `assets/` .) }}
    {{$imgO:= resources.Get . }}
    {{$img:= resources.Get . }}
    {{$imgO:= $imgO.Fill "570x310 Center gif"}}
    {{$img:= $img.Fill "570x310 Center gif"}}
    {{$imgWebp:= $img.Fill "570x300 Center webp"}}
    <img loading="lazy" decoding="async" width="570" src="{{$imgO.RelPermalink}}"
      alt="portfolio-item" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
    {{end}}
    {{end}}
    {{end}}
  </a>
</article>