header {
    padding: 20px 0;
}

header.header-sticky-top {
    padding: 0;
}

header.header-unpinned {
    transform: none;
}

.header-height-fix {
    height: 108px;
}

h1 em {
   color: $primary-color; 
   font-style: unset;
   text-shadow: -2px -2px 1px $white, -2px -1px 1px $white, -2px 0px 1px $white, -2px 1px 1px $white, -2px 2px 1px $white,
		-1px -2px 1px $white, -1px -1px 1px $white, -1px 0px 1px $white, -1px 1px 1px $white, -1px 2px 1px $white,
                0px -2px 1px $white, 0px -1px 1px $white, 0px 0px 1px $white, 0px 1px 1px $white, 0px 2px 1px $white,
                1px -2px 1px $white, 1px -1px 1px $white, 1px 0px 1px $white, 1px 1px 1px $white, 1px 2px 1px $white,
		2px -2px 1px $white, 2px -1px 1px $white, 2px 0px 1px $white, 2px 1px 1px $white, 2px 2px 1px $white;
}

.icon i {
    font-size: 50px;
    line-height: 70px;
}

@media (max-width: 991px) {
    .header-height-fix {
        height: 108px;
    }
}

@media (max-width: 767px) {
    header .navbar-brand img {
	height: auto;
    }
}
