{{with site.Params.cta}}
{{if .enable}}
<section class="call-to-action has-bg-color">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-12">
        <div class="block">
          <div class="section-title text-center mb-0" data-aos="fade-up">
            <h2 class="title underline-none">{{.title | markdownify}}</h2>
            <p>{{.content | markdownify}}</p>
            <a href="{{.button_link}}" class="btn btn-primary mt-4">{{.button}}</a>
          </div>
        </div>

        <div class="has-circle has-bg-anim" data-aos="fade-in">
          <img class="wave-1 w-100" src="{{`images/waves/05.svg` | absURL}}" alt="*">
          <span class="circle-1 ratio-32"></span>
          <span class="circle-2 ratio-85 fill"></span>
          <span class="circle-3 ratio-47"></span>
          <span class="circle-4 ratio-20 fill"></span>
          <span class="circle-5 ratio-73"></span>
          <span class="circle-6 ratio-37"></span>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="py-4 border-top text-center">
          <p class="mb-0 content">{{site.Params.copyright | markdownify}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
