{{define "main"}} {{with .Params.banner}}
<section class="banner">
  <div class="container-xxl">
    <div class="row text-center">
      <div class="col-12">
        <div class="block row justify-content-center no-gutters" data-aos="fade-up">
          <div class="col-lg-10 px-0 px-xl-4" data-rellax-speed="-3">
            <h1 class="mb-4" data-aos="fade-up">{{.title | markdownify}}</h1>
            <!--<a href="{{.button_link}}" class="btn btn-primary" data-aos="fade-up" data-aos-delay="200">{{.button}}</a>-->
          </div>
        </div>

        {{with .image}}
        <div class="banner-image" data-aos="fade-up" data-aos-delay="300">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              {{$img:= resources.Get . }} {{$img:= $img.Resize "1020x webp"}}
              <img loading="lazy" decoding="async" class="w-100 img-fluid" width="{{$img.Width}}"
                height="{{$img.Height}}" src="{{$img.RelPermalink}}" alt="Banner Image" />
            </div>
          </div>
        </div>
        {{end}}

        <div class="has-circle">
          <span class="circle-1 ratio-32" data-rellax-speed="-2"></span>
          <span class="circle-2 ratio-85 fill" data-rellax-speed="2"></span>
          <span class="circle-3 ratio-20 fill"></span>
          <span class="circle-4 ratio-47" data-rellax-speed="1"></span>
          <span class="circle-5 ratio-62" data-rellax-speed="-1"></span>
          <span class="circle-6 ratio-20 fill" data-rellax-speed="-0.5"></span>
          <span class="circle-7 ratio-73" data-rellax-speed="-1"></span>
          <span class="circle-8 ratio-37" data-rellax-speed="-.5"></span>
          <span class="circle-9 ratio-20 fill" data-rellax-speed="1"></span>
          <span class="circle-10 ratio-65 fill" data-rellax-speed="-2"></span>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}} {{with .Site.GetPage "services"}}
<section class="section features overflow-hidden" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" data-aos="fade-up">
        <div class="section-title text-center">
          <p class="text-uppercase">{{.Params.subtitle | markdownify}}</p>
          <h2 class="title">{{.Params.title | markdownify}}</h2>
          <p>{{.Params.description | markdownify}}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12" data-aos="fade-left" data-aos-delay="200">
        <div class="features-carousel swiper-container">
          <div class="swiper-wrapper">
            {{range .Resources}}
            <div class="swiper-slide">
              <div class="features-card">
                <div class="icon text-primary">
                  <i class="{{.Params.icon}}"></i>
                </div>
                <h3 class="title">{{.Params.title | markdownify}}</h3>
                <p class="mb-0">{{.Content | markdownify}}</p>
              </div>
            </div>
            {{end}}
          </div>

          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}} {{with .Site.GetPage "team"}}
<section class="section" id="team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center" data-aos="fade-in">
          <p class="text-uppercase">{{.Params.subtitle | markdownify}}</p>
          <h2 class="title">{{.Params.title | markdownify}}</h2>
          <p>{{.Params.description | markdownify}}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
      {{range sort .Resources "Params.weight"}}
      <div class="col-lg-3 col-md-4 col-6">
        <div class="team-item text-center">
          <div class="team-image">
            {{ if fileExists (add `assets/` .Params.image) }} {{$img:=
            resources.Get .Params.image }} {{$img:= $img.Resize "175x "}}
            {{$imgWebp:= $img.Resize "175x webp"}}
            <img loading="lazy" decoding="async" class="w-100 img-fluid rounded-circle" width="{{$img.Width}}"
              height="{{$img.Height}}" src="{{$imgWebp.RelPermalink}}" alt="Team Image"
              onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'" />
            {{end}}
          </div>
          <h3>{{.Params.name | markdownify}}</h3>
          <p>{{.Params.designation | markdownify}}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}} {{with .Site.GetPage "advisors"}}
<section class="section" id="advisors">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center" data-aos="fade-in">
          <p class="text-uppercase">{{.Params.subtitle | markdownify}}</p>
          <h2 class="title">{{.Params.title | markdownify}}</h2>
          <p>{{.Params.description | markdownify}}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
      {{range sort .Resources "Params.weight"}}
      <div class="col-lg-3 col-md-4 col-6">
        <div class="team-item text-center">
          <div class="team-image">
            {{ if fileExists (add `assets/` .Params.image) }} {{$img:=
            resources.Get .Params.image }} {{$img:= $img.Resize "175x "}}
            {{$imgWebp:= $img.Resize "175x webp"}}
            <img loading="lazy" decoding="async" class="w-100 img-fluid rounded-circle" width="{{$img.Width}}"
              height="{{$img.Height}}" src="{{$imgWebp.RelPermalink}}" alt="Team Image"
              onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'" />
            {{end}}
          </div>
          <h3>{{.Params.name | markdownify}}</h3>
          <p>{{.Params.designation | markdownify}}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}} {{with .Site.GetPage "customers"}}
<section class="section" id="customers">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center" data-aos="fade-in">
          <p class="text-uppercase">{{.Params.subtitle | markdownify}}</p>
          <h2 class="title">{{.Params.title | markdownify}}</h2>
          <p>{{.Params.description | markdownify}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" data-aos="fade-in">
        <div class="brand-carousel swiper-container">
          <div class="swiper-wrapper align-items-center">
            {{range .Resources}} {{if fileExists (add `assets/` .Params.image)}}
            <div class="swiper-slide" disableOnInteraction="false">
              <div class="brand-item">
                {{$img:= resources.Get .Params.image}} {{$img_width :=
                $img.Width }} {{$box_width := "400"}} {{$box_height := "200"}}
                {{$box_aspect := add (add (string $box_width) "x") (string
                $box_height)}} {{$img_src := ($img.Fit $box_aspect).RelPermalink
                }} {{$imgWebp_src := ($img.Fit $box_aspect).RelPermalink }}

                <a href="{{.Params.external_url}}" target="_blank">
                  <img loading="lazy" decoding="async" class="img-fluid" height="{{$box_height}}" src="{{$imgWebp_src}}"
                    alt="Brand Image" onerror="this.onerror=null;this.src='{{$img_src}}'" />
                </a>
              </div>
            </div>
            {{end}} {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}} {{with .Site.GetPage "support"}}
<section class="section" id="support">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center" data-aos="fade-in">
          <p class="text-uppercase">{{.Params.subtitle | markdownify}}</p>
          <h2 class="title">{{.Params.title | markdownify}}</h2>
          <p>{{.Params.description | markdownify}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" data-aos="fade-in">
        <div class="brand-carousel swiper-container">
          <div class="swiper-wrapper align-items-center">
            {{range .Resources}} {{if fileExists (add `assets/` .Params.image)}}
            <div class="swiper-slide" disableOnInteraction="false">
              <div class="brand-item">
                {{$img:= resources.Get .Params.image}} {{$img_width :=
                $img.Width }} {{$box_width := "400"}} {{$box_height := "200"}}
                {{$box_aspect := add (add (string $box_width) "x") (string
                $box_height)}} {{$img_src := ($img.Fit $box_aspect).RelPermalink
                }} {{$imgWebp_src := ($img.Fit $box_aspect).RelPermalink }}

                <a href="{{.Params.external_url}}" target="_blank">
                  <img loading="lazy" decoding="async" class="img-fluid" height="{{$box_height}}" src="{{$imgWebp_src}}"
                    alt="Brand Image" onerror="this.onerror=null;this.src='{{$img_src}}'" />
                </a>
              </div>
            </div>
            {{end}} {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}} {{with .Site.GetPage "contact"}}
<section class="section" id="contact">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="section-title text-center" data-aos="fade-up">
          <p class="text-uppercase">{{.Params.title | markdownify}}</p>
          <h2 class="title">{{.Params.subtitle | markdownify}}</h2>
        </div>
      </div>

      <div class="col-lg-8 col-md-10 social-widget" data-aos="fade-up" data-aos-delay="200">
        <div class="block text-center">
          {{ with site.Params.social}}
          <ul class="social-links list-inline">
            {{ range .}}
            <li class="list-inline-item">
              <a href="{{.link}}" title="{{.title}}" target="_blank">
                <i class="{{.icon}}"></i>
              </a>
            </li>
            {{end}}
          </ul>
          {{end}}
        </div>
      </div>

      {{with site.Params.contact_form_action}} {{$contact_page := $.Site.GetPage
      "contact"}}
      <div class="col-lg-8 col-md-10" data-aos="fade-up">
        <div class="contact-form">
          <div class="mb-4">
            <h3>{{$contact_page.Params.form_title | markdownify}}</h3>
          </div>
          <form id="contact-form" action="{{.}}" method="POST">
            <p id="form-status" class="form-status"></p>
            <div class="form-group">
              <label for="name">{{$contact_page.Params.form_name_label | markdownify}}</label>
              <input class="form-control shadow-none" id="name" name="full_name" type="text"
                placeholder="{{$contact_page.Params.form_name_label | markdownify}}" required />
            </div>
            <div class="form-group">
              <label for="email">{{$contact_page.Params.form_email_label | markdownify}}</label>
              <input class="form-control shadow-none" id="email" name="email" type="email"
                placeholder="{{$contact_page.Params.form_email_label | markdownify}}" required />
            </div>
            <div class="form-group">
              <label for="message">{{$contact_page.Params.form_message_label |
                markdownify}}</label>
              <textarea class="form-control shadow-none" id="message" name="Comment" rows="4" required></textarea>
            </div>

            <button class="btn btn-primary w-100 mt-4" type="submit" aria-label="Send Message">
              {{$contact_page.Params.form_button_label | markdownify}}
            </button>
          </form>
        </div>
      </div>

      <script>
        var form = document.getElementById("contact-form");
        async function handleSubmit(event) {
          event.preventDefault();
          var status = document.getElementById("form-status");
          var data = new FormData(event.target);
          fetch(event.target.action, {
            method: form.method,
            body: data,
            headers: {
              Accept: "application/json",
            },
          })
            .then((response) => {
              status.innerHTML =
                "{{$contact_page.Params.form_success_message | markdownify}}";
              form.reset();
            })
            .catch((error) => {
              status.innerHTML =
                "{{$contact_page.Params.form_error_message | markdownify}}";
            });
        }
        form.addEventListener("submit", handleSubmit);
      </script>
      {{end}}
    </div>
  </div>
</section>
{{end}} {{end}}